body{
    background-color: whitesmoke;
    text-align: left;
    margin-top: 0%;
}

.container-fluid {
        margin-top: 5.4%;
        font-family: "Merienda", cursive;
        text-align: center;
        word-spacing: 4%;
        font-size: 90%;
        font-weight: lighter;
}

h3{
    font-family: "Mate SC", cursive;
    font-weight: bold;
    margin-top: 2.7%;
}

span{
    
    font-size: 0.45em;
}

h2{
    font-family: "Mate SC", cursive;
    font-weight: bold;
    margin-top: 2.7%;
}

p1{
    font-family: "Merienda", cursive;
}

p2{
    font-family: "Merienda", cursive;
}

li{
    margin-top: 25px;
    font-family: "Source Code Pro", cursive;
}


