body{
background-color: whitesmoke;
}

.container-fluid {
    margin-top: 4.5%;
    text-align: center;
   
}

p1{
    font-family: "Snowburst one", serif;
    font-size: 135%;
    background-color: rgb(188, 205, 224);
}

p2{
    word-spacing: 4%;
    font-size: 90%;
    font-weight: lighter;
    font-family: "Snippet", serif;
    
}

h5 {
    text-align: center;
    font-family:"Mate SC", serif ;
    font-size: 180%;
    font-weight: bold;
    
}