body{
  /* background-image: url("back.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: whitesmoke;
  /* background: url(back2.jpeg) no-repeat center center fixed;  */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.navbar{
  padding-top: 1.8%;
  
}

h1{
  font-family: "Audiowide", sans-serif;
}

p{
  font-family: "Mate SC", sans-serif;
  padding-top: 1.8%;
  
}

a{
  position: relative;
  color: #242424;
  display: inline;
  justify-content: center;
  text-decoration: none;
  padding: 0.9%;
  padding-top: 20%;
  
}

a:hover {
  cursor: pointer;
}

footer{
  text-align: center;
  font-size: 63%;
}
